@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body{
     -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
